In [9]:
# Be sure you installed dfply
!pip install dfply

Requirement already satisfied: dfply in c:\users\dg8310ea\anaconda3\lib\site-packages (0.3.3)
Requirement already satisfied: numpy in c:\users\dg8310ea\anaconda3\lib\site-packages (from dfply) (1.20.1)
Requirement already satisfied: pandas in c:\users\dg8310ea\anaconda3\lib\site-packages (from dfply) (1.2.4)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\dg8310ea\anaconda3\lib\site-packages (from pandas->dfply) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in c:\users\dg8310ea\anaconda3\lib\site-packages (from pandas->dfply) (2021.1)
Requirement already satisfied: six>=1.5 in c:\users\dg8310ea\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas->dfply) (1.15.0)

## <font color="red"> With the currect version of anaconda3 [2022.05], this won't work on newer M1 Mac's.  If this describes you, please skip over all R code/installations.</font>

In [2]:
#First, make sure you have R installed ... this could take a while ;P
!brew install R

'brew' is not recognized as an internal or external command,
operable program or batch file.

In [3]:
# Next, we install rpy2 to allow running R code in a notebook
!pip install rpy2

Collecting rpy2
  Downloading rpy2-3.5.4.tar.gz (208 kB)
Requirement already satisfied: cffi>=1.10.0 in c:\users\dg8310ea\anaconda3\lib\site-packages (from rpy2) (1.14.5)
Requirement already satisfied: jinja2 in c:\users\dg8310ea\anaconda3\lib\site-packages (from rpy2) (2.11.3)
Requirement already satisfied: pytz in c:\users\dg8310ea\anaconda3\lib\site-packages (from rpy2) (2021.1)
Collecting tzlocal
  Downloading tzlocal-4.2-py3-none-any.whl (19 kB)
Requirement already satisfied: packaging in c:\users\dg8310ea\anaconda3\lib\site-packages (from rpy2) (20.9)
Requirement already satisfied: pycparser in c:\users\dg8310ea\anaconda3\lib\site-packages (from cffi>=1.10.0->rpy2) (2.20)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\dg8310ea\anaconda3\lib\site-packages (from jinja2->rpy2) (1.1.1)
Requirement already satisfied: pyparsing>=2.0.2 in c:\users\dg8310ea\anaconda3\lib\site-packages (from packaging->rpy2) (2.4.7)
Collecting tzdata
  Downloading tzdata-2022.2-py2.py3-none-any.whl (336 kB)
Collecting backports.zoneinfo
  Downloading backports.zoneinfo-0.2.1-cp38-cp38-win_amd64.whl (38 kB)
Collecting pytz-deprecation-shim
  Downloading pytz_deprecation_shim-0.1.0.post0-py2.py3-none-any.whl (15 kB)
Building wheels for collected packages: rpy2
  Building wheel for rpy2 (setup.py): started
  Building wheel for rpy2 (setup.py): finished with status 'done'
  Created wheel for rpy2: filename=rpy2-3.5.4-py3-none-any.whl size=212033 sha256=08b09825127a192e5eccae783bee24ac3be1865c4088c190eb0b3f50e4344248
  Stored in directory: c:\users\dg8310ea\appdata\local\pip\cache\wheels\c1\b7\29\2cfc056e6f7690976f36cbf7d5afdeeea14b3cbd1910c42b53
Successfully built rpy2
Installing collected packages: tzdata, backports.zoneinfo, pytz-deprecation-shim, tzlocal, rpy2
Successfully installed backports.zoneinfo-0.2.1 pytz-deprecation-shim-0.1.0.post0 rpy2-3.5.4 tzdata-2022.2 tzlocal-4.2

In [4]:
#Load rpy2 and R magic commands
import rpy2
%load_ext rpy2.ipython

Unable to determine R home: [WinError 2] The system cannot find the file specified
c:\Users\dg8310ea\Anaconda3\lib\site-packages\rpy2\robjects\packages.py:367: UserWarning: The symbol 'quartz' is not in this R namespace/package.
  warnings.warn(

# Select, Filter, and Mutate

In this lecture, we will look at three important actions used to process data frames.  While each framework uses different names for these functions, we will use the names from the `R` library `dplyr`, namely `select`, `mutate`, and `filter`.  The most important takeaway will be that, regardless of framework or scale, we can process data frames in the same way by applying the same sequence of data verbs.

## R and Python can interact!

In [5]:
import warnings
warnings.filterwarnings('ignore')

In [1]:
%%R
rnorm(5, 2, 3)

UsageError: Cell magic `%%R` not found.

## We love dplyr!

In [2]:
%%R 
library(dplyr)
artists <- read.csv('./data/Artists.csv')

(artists %>%
  select(BeginDate, 
         DisplayName, 
         Nationality) %>%
  filter(BeginDate > 0) %>%
  head) -> output
output

UsageError: Cell magic `%%R` not found.

## What makes `dplyr` so great?

* Focus on data verbs
* Pipes lead to code that is
    * More readable
    * Easy to compose and debug

## Set up

Let's read in a data set in each of the three frameworks

In [3]:
import pandas as pd
from dfply import *
heroes = pd.read_csv('./data/heroes_information.csv')
heroes.head()

,Unnamed: 0,name,Gender,Eye color,Race,Hair color,Height,Publisher,Skin color,Alignment,Weight
0,0,A-Bomb,Male,yellow,Human,No Hair,203.0,Marvel Comics,-,good,441.0
1,1,Abe Sapien,Male,blue,Icthyo Sapien,No Hair,191.0,Dark Horse Comics,blue,good,65.0
2,2,Abin Sur,Male,blue,Ungaran,No Hair,185.0,DC Comics,red,good,90.0
3,3,Abomination,Male,green,Human / Radiation,No Hair,203.0,Marvel Comics,-,bad,441.0
4,4,Abraxas,Male,blue,Cosmic Entity,Black,-99.0,Marvel Comics,-,bad,-99.0

## Selecting Columns

<img src="./img/select.png">

The first verb, `select` 

* filters the *columns*
* At the core of `SQL` statements

## How to select
 pipe (`>>`) into `select` and use `X.column_name` or `X['column name']`

In [4]:
(heroes
 >> select(X.name, 
           X['Gender'],
           'Eye color'
          )
 >> head
)

          name Gender Eye color
0       A-Bomb   Male    yellow
1   Abe Sapien   Male      blue
2     Abin Sur   Male      blue
3  Abomination   Male     green
4      Abraxas   Male      blue

## Filtering Rows

<img src="./img/filter.png">

The next verb, `filter` 

* filters the *rows*
* is related to the `SQL` `WHERE` clause

## How to filter

* pipe (`>>`) into `filter_by` 
* First argument is a boolean expression
* Reference columns with `X.column_name` or `X['column name']`

In [5]:
(heroes 
 >> filter_by(X.Gender == 'Male') 
 >> head
)

,Unnamed: 0,name,Gender,Eye color,Race,Hair color,Height,Publisher,Skin color,Alignment,Weight
0,0,A-Bomb,Male,yellow,Human,No Hair,203.0,Marvel Comics,-,good,441.0
1,1,Abe Sapien,Male,blue,Icthyo Sapien,No Hair,191.0,Dark Horse Comics,blue,good,65.0
2,2,Abin Sur,Male,blue,Ungaran,No Hair,185.0,DC Comics,red,good,90.0
3,3,Abomination,Male,green,Human / Radiation,No Hair,203.0,Marvel Comics,-,bad,441.0
4,4,Abraxas,Male,blue,Cosmic Entity,Black,-99.0,Marvel Comics,-,bad,-99.0

## Chaining Data Verbs

* Processing df $\rightarrow$ chaining data verbs
* Accomplished through pipes/dot-chains

## Example 1 - `select` + `filter`

In [6]:
(heroes 
 >> filter_by(X.Gender == 'Male') 
 >> select(X.name, X.Gender, X.Weight) 
 >> head
)

          name Gender  Weight
0       A-Bomb   Male   441.0
1   Abe Sapien   Male    65.0
2     Abin Sur   Male    90.0
3  Abomination   Male   441.0
4      Abraxas   Male   -99.0

## Example 2 - `filter` + `filter`

Note that chaining `filter`s is an `and` operation.

####  `pandas` + `dfply`

In [7]:
(heroes >>
   select(X.name, X.Gender, X.Weight) >>
   filter_by(X.Gender == 'Male') >>
   filter_by(X.Weight > 0) >>
   head)

            name Gender  Weight
0         A-Bomb   Male   441.0
1     Abe Sapien   Male    65.0
2       Abin Sur   Male    90.0
3    Abomination   Male   441.0
5  Absorbing Man   Male   122.0

## <font color="red"> Exercise 2.2.1: Blue-eyed Heroes </font>

Create a query that

1. Selects the name, Gender, and Eye Color columns
2. Filters on eye_color == 'blue'

In [8]:
# Your code here
(heroes >>
   select(X.name, X.Gender, X['Eye color']) >>
   filter_by(X['Eye color'] == 'blue') >>
   head)

            name Gender Eye color
1     Abe Sapien   Male      blue
2       Abin Sur   Male      blue
4        Abraxas   Male      blue
5  Absorbing Man   Male      blue
6    Adam Monroe   Male      blue

## Constructing New Columns

The third verb, `mutate` 

* Creates new columns
* Changes existing columns

## How to mutate

*  pipe (`>>`) into `mutate`
* First argument is a transformational expression
* Reference columns with `X.column_name` or `X['column name']`

## Example 3 - Converting Weight to kilograms

Currently, the weight column is in pounds.  Let's convert to kilograms.

In [15]:
(heroes 
 >> select(X.name, 
           X.Gender, 
           X.Weight) 
 >> mutate(Weight_kg = X.Weight/2.2046) 
 >> head
)

          name Gender  Weight   Weight_kg
0       A-Bomb   Male   441.0  200.036288
1   Abe Sapien   Male    65.0   29.483807
2     Abin Sur   Male    90.0   40.823732
3  Abomination   Male   441.0  200.036288
4      Abraxas   Male   -99.0  -44.906105

## Referencing a new column

Each framework provides a way to reference a new column.

* **Create:** Use `mutate(new_col = ...)`
* **Later reference:** Use `X.new_col` or `X['new_col']`

## Example 4 - Converting Weight to kilograms and filter

Let's find all heroes with a weight under 100kg.

In [9]:
(heroes 
 >> select(X.name, X.Gender, X.Weight) 
 >> mutate(Weight_kg = X.Weight/2.2046) 
 >> filter_by(X.Weight_kg < 100) 
 >> head
)

            name Gender  Weight  Weight_kg
1     Abe Sapien   Male    65.0  29.483807
2       Abin Sur   Male    90.0  40.823732
4        Abraxas   Male   -99.0 -44.906105
5  Absorbing Man   Male   122.0  55.338837
6    Adam Monroe   Male   -99.0 -44.906105

## <font color="red"> Exercise 2.2.2: Tall Heroes </font>

Create a query that

1. Selects the name, Gender, and Height columns
2. Compute the height in inches.
    * Check [here](https://www.kaggle.com/claudiodavi/superhero-set) to determine the current units.
3. Filters on height_in > 72

In [12]:
# Your code here
(heroes 
 >> select(X.name, 
           X.Gender, 
           X.Height) 
 >> mutate(Height = X.Height*0.393701)
 >> filter_by(X.Height >72) 
 >> head
)

            name Gender     Height
0         A-Bomb   Male  79.921303
1     Abe Sapien   Male  75.196891
2       Abin Sur   Male  72.834685
3    Abomination   Male  79.921303
5  Absorbing Man   Male  75.984293